body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    max-width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.cabecalho {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

.textoatd{
    padding: 10px;
    margin-top: 5px;
}
.textoatd2{
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #000000;
    font-size: 14px;
    border-radius: 5px;
}

.textovc{
    padding: 10px;
    margin-top: 5px;
    text-align: end;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
}
.textovc2{
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #000000;
    align-self: flex-end;
}
.mensagem {
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mensagem2 {
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.chat-input {
    width: 100%;
    padding: 10px;
    border: none;
    border-top: 1px solid #ccc; 
    box-sizing: border-box;
}

.botao {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
